<div class="container">
  <h1>Java Racer, folks!!</h1>

  <div>
    <p id="game_over"></p>
  </div>

  <p id="game" data-game="<%= @game.id %>">  </p>
 
  <div class="names">
    <p id="player1"> <%= @player1.name %> </p>
    <p id="player2"> <%= @player2.name %> </p>
  </div>

 <table class="racer_table">
  <tr id="player1_strip">
    <td class="active1"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr id="player2_strip">
    <td class="active2"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<br><br><br>

<div id="bottom_links">
    
    <a id="race_button" href="/race/<%=@player1.id%>/<%=@player2.id%>"> Race again! </a>
    <br><br><br>
    <a id="login_button" href="/"> Login other players. </a>

</div>

</div>
